.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
.btn--primary {
  background: #fff;
  color: #242424;
  border: 1px solid #fff;
}
.btn--outline {
  background: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}
.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}
.btn--large {
  padding: 12px 2px;
  font-size: 20px;
}
.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid fff;
  transition: all 0.3s ease-out;
}
.btn--wide {
  padding: 12px 64px;
  font-size: 20px;
}
.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
}
.btn-wide {
  color: #fff;
  background: #f00946;
  transition: all 0.2s ease-out;
}
.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
}
.blue {
  background: #276afb;
  color: #fff;
  border: none;
}
.red {
  background: #f00946;
  color: #fff;
  border: none;
}
.primary {
  background: #242424;
  color: #fff;
  border: none;
}
.primary:hover {
  background: #fff;
  color: #242424;
  border: none;
}
.green {
  background: #25ce4a;
  color: #fff;
  border: none;
}
.green:hover {
  background: #242424;
}
